body {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
    background-color: rgb(71, 71, 71);
}

.slider-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    overflow: hidden;
}

input {
    display: none;
}

.images-container {
    display: flex;
    align-items: center;
    width: 400%;
    transition: all 0.5s;
}

.image {
    width: 25%;
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
}

.controls {
    display: flex;
}

label {
    display: block;
    background-color: aqua;
    width: 2rem;
    height: 1rem;
    border: 1rem solid rgb(71, 71, 71);
    border-radius: 2rem;
    cursor: pointer;
}

.controls-natations-container {
    display: flex;
    justify-content: space-between;
}

.notations {
    height: 1.2rem;
    overflow: hidden;
}

.notations-overflow {
    height: 400%;
    transition: all 0.5s;
}

#switch1:checked ~ .images-container{
	margin-left: 0;
}
#switch2:checked ~ .images-container{
	margin-left: -100%;
}
#switch3:checked ~ .images-container{
	margin-left: -200%;
}
#switch4:checked ~ .images-container{
	margin-left: -300%;
}

#switch1:checked ~ .controls-natations-container .notations-overflow{
	margin-top: 0;
}

#switch2:checked ~ .controls-natations-container .notations-overflow{
	margin-top: -1.2rem;
}
#switch3:checked ~ .controls-natations-container .notations-overflow{
	margin-top: -2.4rem;
}
#switch4:checked ~ .controls-natations-container .notations-overflow{
	margin-top: -3.6rem;
}