body {
    box-sizing: border-box;
}

div {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
    background-color: rgb(71, 71, 71);
}

.slider-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    overflow: hidden;
    gap: 2rem;
    padding: 2rem 0;
}

input {
    display: none;
}

.images-container {
    display: flex;
    align-items: center;
    width: 400%;
    transition: all 0.5s;
}

.image {
    width: 25%;
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
}

.controls {
    display: flex;
    align-self: center;
}

label {
    display: block;
    background-color: #ddd;
    opacity: 0.5;
    width: 2rem;
    height: 0.5rem;
    border: 0.5rem solid rgb(71, 71, 71);
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.5s;
}

label:hover {
    opacity: 1;
    transform: scale(1.1);
}

label:checked {
    background-color: #fdd;
}

.controls-natations-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notations {
    height: 2em;
    overflow: hidden;
}

.notations-overflow {
    height: 400%;
    transition: all 0.5s;
    font: 1.5em/2rem 'Arial', sans-serif;
    color: rgb(218, 218, 218);
}

#switch1:checked ~ .images-container{
	margin-left: 0;
}
#switch2:checked ~ .images-container{
	margin-left: -100%;
}
#switch3:checked ~ .images-container{
	margin-left: -200%;
}
#switch4:checked ~ .images-container{
	margin-left: -300%;
}

#switch1:checked ~ .controls-natations-container .notations-overflow{
	margin-top: 0;
}

#switch2:checked ~ .controls-natations-container .notations-overflow{
	margin-top: -2rem;
}
#switch3:checked ~ .controls-natations-container .notations-overflow{
	margin-top: -4rem;
}
#switch4:checked ~ .controls-natations-container .notations-overflow{
	margin-top: -6rem;
}

#switch1:checked ~ .controls-natations-container label:nth-child(1),
#switch2:checked ~ .controls-natations-container label:nth-child(2),
#switch3:checked ~ .controls-natations-container label:nth-child(3),
#switch4:checked ~ .controls-natations-container label:nth-child(4) {
    background-color: rgb(67, 180, 255);
    opacity: 1;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .controls-natations-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

    .notations-overflow {
        font: 1.3em/2rem 'Arial', sans-serif;
    }
}