body {
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.slider-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.images-container {
    display: flex;
    align-items: center;
    width: 400%;
}

.image {
    width: 25%;
    float: left;
}

img {
    width: 80%;
    height: 80%;
}

#switch1:checked ~ .images-container{
	margin-left: 0;
}
#switch2:checked ~ .images-container{
	margin-left: -100%;
}
#switch3:checked ~ .images-container{
	margin-left: -200%;
}
#switch4:checked ~ .images-container{
	margin-left: -300%;
}
